.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #fff; /* Changed to white background */
  padding: 20px;
}

.loginCard {
  background: rgba(255, 255, 255, 0.8); /* More opaque light background */
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1); /* Lighter shadow */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Adjust border for light background */
  text-align: center;
  width: 400px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333; /* Dark color for title */
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust text shadow */
}

.signin {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  gap: 0.75rem;
  color: white;
  background-color: #2c7a7b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.signin:hover {
  transform: scale(1.025);
  background-color: #285e61;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
.signin:active {
  transform: scale(0.975);
}

.signin svg {
  height: 24px;
  width: auto;
}